// 加入文件打包名称
/chaoswisePurewise559Web
/chaoswiseDemoWeb
/csreWeb
/chaoswisePurewise540Web
*.class
/publish
# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
.idea
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
node_modules
.DS_Store
npm-debug.log
/static
/dist
/docp
# /doia/doiaWeb
# /doiaWeb
# public/doiaWeb
doiaWeb
demoWeb
/report*
/index.html
/ssoLogin.html
ENV_CONFIG_LOCAL*
### DLL File ###
manifest.json

.themes
.history
.vscode
.eslintcache
size-plugin.json
publish
.tmp/
.swc